@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?3imnk6');
    src:  url('fonts/icomoon.eot?3imnk6#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?3imnk6') format('truetype'),
        url('fonts/icomoon.woff?3imnk6') format('woff'),
        url('fonts/icomoon.svg?3imnk6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Iconos de la barra de navegación y otros*/

.icon-office:before {
    content: "\e903";
}
.icon-book:before {
    content: "\e91f";
}
.icon-phone:before {
    content: "\e942";
}
.icon-location2:before {
    content: "\e948";
}
.icon-users:before {
    content: "\e972";
}
.icon-hammer:before {
    content: "\e996";
}
.icon-list:before {
    content: "\e9ba";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-paragraph-justify:before {
    content: "\ea7a";
}
.icon-mail4:before {
    content: "\ea86";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-whatsapp:before {
    content: "\ea93";
}
.icon-twitter:before {
    content: "\ea96";
}

/*Estilos del cuerpo*/

.section_body{
    padding: 40px;
    width: fit-content;
    text-align: center;
}

.div_center{
    width: 100%;
    height: 100%;
    text-align: center;
}

.div_group{
    width: 100%;
    max-width: 1250px; 
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.div_bloque{
    width: 78%;
    height: 75%;
    padding: 40px;
    background: #343434;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.div_bloque h2{color: white}
.div_bloque p{color: white; font-size: 20px}

.div_bloque a.btn-section{
    display: grid;
    text-decoration: none;
    float: end;
    color: white;
    background: black;
    margin-left:40px; margin-right: 40px; 
    margin-top: 40px;
    padding: 8px 16px;
    border: 2px solid white;
    transition: all 0.3s ease;
    font-size: 16px;
}

.div_bloque a.btn-section:hover{
    border: 2px solid black;
    background: white;
    color: black;
}

/*Estilos de contacto*/

.section_contact{margin: 0; padding: 0}

.section_contact .div_contact{
    background: #4a4a4a;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-bottom: 40px; 
}

.div_contact .div_container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid; /*Acomoda todo al centro*/
    grid-template-columns: repeat(2,1fr);
}

.div_contact .div_contact_info b a:hover{text-decoration: underline}
.div_contact_vert .div_contact_info{color: white; margin-bottom: 20px}

.div_contact_vert .div_contact_info a{
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.div_contact_form{margin-bottom: 20px}

.div_contact_form .campo, textarea{
    width: 80%;
    padding: 10px 10px;
    border-radius: 5px;
}

.div_contact_form .btn-enviar{
    padding: 5px 10px;
    background: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.div_contact_form .btn-enviar:hover{background: black; color: white}

#principal{opacity: 0}

/*Estilos del footer*/

.footer{width: 100%; background: #520000}

.footer .div_one_footer{
    width: 100%;
    max-width: 1250px; 
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
}

.footer .div_one_footer .div_col_footer figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centrado horizontal*/
    align-items: center; /*centrado vertical*/
}

.footer .div_one_footer .div_col_footer figure img{width: 250px}

.footer .div_one_footer .div_col_footer h2{
    color:  white;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .div_one_footer .div_col_footer p{
    color: white;
    margin-bottom: 10px;
    margin-right: 40px;
}

.footer .div_one_footer .div_col_social_footer a{
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #9F0000;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.footer .div_one_footer .div_col_social_footer a:hover{background: #7F5353}
.footer .div_one_footer .div_col_footer{margin-right: 20px; padding-bottom: 20px}

.footer .div_two_footer{
    background-color: black;
    color: white;
    padding: 15px 15px 20px 10px;
    text-align: center;
}

/*::::Página - Nosotros::::*/

.section_nosotros{margin-bottom: 60px}

.section_nosotros .nosotros_bloque .nosotros_titulo{
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.section_nosotros .nosotros_bloque .nosotros_parrafo{
    margin-top: 10px; margin-bottom: 120px;
    margin-left: 15%; margin-right: 15%;
}

.section_nosotros .nosotros_bloque .nosotros_parrafo p{
    font-size: 20px;
    text-align: justify;
}

.section_nosotros .nosotros_bloque .nosotros_parrafo ol{text-align: justify}
.section_nosotros .nosotros_bloque .nosotros_titulo img{width: 500px}

.nosotros_parrafo .parrafo_atte{margin-top: 20px; float: right}
.nosotros_parrafo .parrafo_atte a{text-decoration: none; color: black}
.nosotros_parrafo .parrafo_atte a:hover{text-decoration: underline}

.nosotros_gerente{
    width: 100%;
    height: 100vh;
    top: 0; left: 0;
    position: fixed;
    background-color: rgba(144, 148, 150, 0.8);
    display: none; /*aqui: de none a flex */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.nosotros_gerente .nosotros_gerente_bloque{
    margin: 15% 20%;
    background: white;
    padding: 50px;
    border: 3px solid #520000;
    border-radius: 25px;
}

.nosotros_gerente_bloque .nosotros_gerente_btn_cerrar{position: absolute; right: 22%; top: 15%}
.nosotros_gerente_bloque .nosotros_gerente_btn_cerrar img{width: 45px; height: 45px}
.nosotros_gerente_bloque .nosotros_gerente_btn_cerrar a:hover{background: #FFAA98; transition: all 0.3s ease}

.nosotros_gerente_perfil{
    width: 100%;
    max-width: 1250px; 
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}

.gerente_perfil_col{padding: 10px; text-align: justify}

/*::::Página - Servicios::::*/

.section_servicios{margin: 0; padding: 0; width: 100%}
.section_servicios .servicios_bloque{text-align: center; padding-bottom: 80px}

.servicios_bloque .servicios_titulo{margin-top: 60px; margin-bottom: 40px; text-align: center}

.servicios_titulo h2{font-size: 32px}
.servicios_titulo p{font-size: 24px}

.servicios_container_one{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.servicios_container_two{
    width: 70%;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servicios_bloque .servicios_container_one .servicios_container_col{width: 95%}
.servicios_bloque .servicios_container_two .servicios_container_col{width: 78%}

.servicios_container_col{
    background: white;
    margin-top: 4%; 
    margin-bottom: 4%;
    padding-top: 24px;
}

.servicios_container_col p{
    width: 100%; 
    height: 95%; 
    text-align: center;
}

.container_col_text{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container_col_btn{
    width: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.container_col_btn a{
    background: black; 
    padding: 10px 20%;
    text-decoration: none; 
    color: white;
}

.container_col_btn a:hover{
    border: 2px solid black;
    background: white;
    color: black;
    transition: all 0.3s ease;
}

.servicios_ingenieria{
    width: 100%;
    height: 100vh;
    top: 0; left: 0;
    position: fixed;
    background-color: rgba(144, 148, 150, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none; /*cambia a block*/
}

.servicios_ingenieria_bloque{
    background: white;
    padding: 5%;
    border: 3px solid #520000;
    border-radius: 25px;
    margin: 7% 15% 0% 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servicios_ingenieria_texto{width: 100%}
.servicios_ingenieria_texto h2{text-align: center}
.servicios_ingenieria_texto div ul li{margin-left: 20px; margin-bottom: 5px}

.servicios_ingenieria_img{width: 100%; text-align: right}

.servicios_ingenieria .servicios_ingenieria_marca{
    position: absolute;
    top: 80%; left: 17%;
}

.servicios_ingenieria .servicios_ingenieria_btn{position: absolute; top: 18%; left: 80%}
.servicios_ingenieria .servicios_ingenieria_btn a:hover{background: #FFAA98; transition: all 0.3s ease}

/*Arreglos mediante el uso de IDs para personalizaciones independientes*/

#w_servicio_geotec .servicios_ingenieria_bloque{margin: 3% 15%}
#w_servicio_geotec .servicios_ingenieria_btn{top: 10%}
#w_servicio_geotec .servicios_ingenieria_marca{top: 86%}

#w_servicio_ambiental .servicios_ingenieria_bloque{margin: 5% 15%}
#w_servicio_ambiental .servicios_ingenieria_btn{top: 15%}
#w_servicio_ambiental .servicios_ingenieria_marca{top: 84%}

#w_servicio_civil  .servicios_ingenieria_bloque{margin: 2% 12%}
#w_servicio_civil  .servicios_ingenieria_btn{top: 8%; left: 83%}
#w_servicio_civil  .servicios_ingenieria_marca{top: 87%; left: 14%}

/*::::Página - Proyectos::::*/

.section_proyectos{margin: 0; padding: 0; width: 100%}
.proyectos_bloque{width: 88%; text-align: center; padding: 4%}

.proyectos_panel{
    background: white;
    width: 100%;
    padding: 2%;
    border: 2px solid #9F0000;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.proyectos_panel .proyectos_panel_img{
    background: #FADBD8;
    width: 800px;
    max-width: 800px;
    height: 50vh;
}

.proyectos_panel .proyectos_panel_img h2{
    margin-top: 29%;
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px transparent solid;
    border-radius: 25px;
}

.proyectos_panel .proyectos_panel_desc{
    text-align: left;
    margin-left: 20px;
}

/*::::Página - Clientes::::*/

.section_clientes{margin: 0; padding: 0; width: 100%}
.clientes_bloque{width: 100%; text-align: center}

.clientes_column{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.clientes_box{
    text-align: center;
    margin: 20px;
}

/*::::Página - Dirección::::*/

.section_direccion{margin: 0; padding: 0; width: 100%}
.direccion_bloque{text-align: center; padding-bottom: 80px}
.direccion_titulo{margin-top: 60px; margin-bottom: 40px; text-align: center}
.direccion_titulo h2{font-size: 32px} .direccion_titulo p{font-size: 24px}

.direccion_bloque_horizontal{
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.direccion_map{margin: 2%; border: 1px solid black}
.direccion_map_desc{background: #FFD0D0; margin: 10px; padding: 10px}

/*::::Página - Contacto::::*/

.section_contacto{margin: 0; padding: 0; width: 100%}
.contacto_bloque{text-align: center; padding-bottom: 20px}

.contacto_contacto{
    text-align: center;
    background: url(../img/div-contacto.png); /*Es necesario los dos puntos al iniciar*/
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px; padding: 2%;
    margin-top: 20px;
}

.contacto_contacto_texto{margin-top: 20%; color: white}
.contacto_contacto_texto a{color: white; text-decoration: none}
.contacto_contacto_texto a:hover{text-decoration: underline}
